*{
  scrollbar-width: none;
}
nav{
  z-index: 1020;
  min-height: 60px;
}

.cartitem{
  display: flex;
  background-color: aliceblue;
  align-items: center;
  justify-content: space-between;
}
.title{
font-size: 1.8rem;
display: flex;
color: white;
gap: 10px;
align-items: center;
}

@media(max-width:600px)
{
  .title{
    font-size: 1.3rem;
  }
}